/*
    Practica 2 - CSS
    Estudiante: Eduardo Zhizhpon
    Archivo: layout_table.css
*/
.table_content{
    overflow:auto;
    padding: 20px;
    background-color: #eee;
    box-sizing: border-box;
}

table{
    align-self: center;
    width: 80%;
    min-width: 300px;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td{
    border: 2px #ccc solid;
    color: #fff;
}

table th, table td{
    padding: 15px;
}

table th{
    background-color: #67737D;
}

table td{
    
    background-color: #eee;
    color: #000;
}