.album_content{
    width: 100%;
    padding: 10px;
    justify-content: center;
    overflow-x: auto;
    box-sizing: border-box;
    background-color: #333333;
    white-space: nowrap;
}

.album_content img{
    width: 70%;
    max-width: 350px;
    box-shadow: 0px 0px 10px #eee;
    margin: auto 20px;
    vertical-align: middle;
    display: inline-block;
}

.album_content ol{
    margin-left: 40px;
    vertical-align: middle;
    display: inline-block;
}

.album_content ol li{
    color: #fff;
    padding: 0px 5x 0px 30px;
}