
@font-face{
    font-family: f_spartan;
    src: url(font/Spartan/Spartan-VariableFont_wght.ttf);
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'f_spartan';
    font-size: 18px;
}

#main_header{
    width: 100%;
    background-color: #3D7366;
    box-shadow: 0px 0px 4px #000;
    /*position:fixed;*/
    overflow: hidden;
    z-index: 1;
}

/*div: #logo_container*/

#logo_container{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 4px #62A693;
}

#img_logo img{
    width: 80px;
}

#f_search{
    width: 40%;
    margin: auto 5%;
}

#f_search input{
    box-sizing : border-box;
    padding: 10px 8px;
    width: 100%;
}

/*FIN div: #logo_container*/

/*nav: #header_nav*/
#header_nav {
    clear: both;
    overflow: hidden;
    margin: 6px 5px;
}

#header_nav .nav_a{
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 7px;
}

.nav_icon{
    text-decoration: none;
}

.nav_icon img{
    width: 35px;
    display: block;
    margin: 22px auto 1px;
}

.nav_icon span{
    color: #E3E9ED;
    margin: 5px;
    font-size: 12px;
}

#header_nav .nav_a:hover{
    transition: all 0.3s linear;
    background-color: #346157;
    color: #fff;
    text-decoration: none;
}

/*FIN nav: #header_nav*/

/* FOOTER*/
footer{
    clear: both;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer_content{
    width: 30%;
    text-align: center;

    margin: 10px;
    padding: 20px;

    background-color: #f9f9f9;
    color: #000;
    text-decoration: none;
    box-shadow: 0px 0px 10px #999;

    overflow:hidden;
    text-overflow: ellipsis;

}

.footer_content ul{
    padding-top: 20px;
    text-align: left;
    list-style: none;
    line-height: 0.9cm;
}

.footer_content a{
    color: #000;
    text-decoration: none;
}

.footer_content h4{
    padding: 5px;
    font-size: 16px;
    border-bottom: solid 3px #346157;
}

.footer_content .contact{
    font-weight: bold;
    color: #346157;
}

.footer_media{
    display: flex;
    justify-content: space-around;
    
}

.footer_content .footer_logo{
    width: 150px;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 8px #447366;
}

.footer_content .footer_icon{
    width: 50px;
    padding: 20px;
    margin: auto;
    border-radius: 30px;
}

.footer_content .img_social_media{
    width: 35px;
}

.footer_content p{
    text-align: left;
}

/* FIN FOOTER*/

/*Espacio para comenzar con el contenido principal*/
.main_separator{
    clear: both;
    padding-top: 5rem;
    position: relative;

    display: flex;
    justify-content: space-between;
    padding-bottom: 5em;
    line-height: 0.8cm;
}

/*h1 -> para el titulo de la página*/
body h1{
    margin: 10px 5rem 10px;
    color: #3D7366;
}

.main_1_col_separator{
    clear: both;
    padding-top: 5rem;
    position: relative;

    display: flex;
    justify-content: center;
    padding-bottom: 5em;
    line-height: 0.8cm;
}